



body {
    background-color: rgb(230 222 198);
}

.bor {
    text-align: center;
}

#h3 {
    font-size: 30px;
}

#j {
    font-size: 40px;
}

.boy {
    text-align: center;
    font-size: 25px;
}

#y {
    font-size: 50px;
}

.flex {
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.foot {
    display: flex;
    flex-direction:column;
    justify-content: center;
    
   gap:15px;
   
  
}

.right {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    font-size: 25px;
}

.cont {
    background-color: rgb(151, 173, 49);
  text-align:center;
  border-radius:5px;
}

.about {
    background-color: rgb(205, 140, 61);
    text-align:center;
  border-radius:5px;
    
}
@media only screen and (min-width: 426px) {
 .flex {
    display: flex;
     flex-direction:row;
     padding: 4px;
   
}
 .foot {
    display: flex;
   flex-direction:row;
     justify-content:space-around;
   padding:25px;
   
  
}   
}
